<?xml version = "1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "my_arm">
    <xacro:include filename = "common_properties.xacro"/>

    <link name = "base">
        <visual>
            <geometry>
                <mesh filename = "package://learning_tf_urdf/meshes/Base.stl" scale = "0.001 0.001 0.001"/> 
            </geometry>
            <origin rpy = "0 0 0" xyz = "0 0 0.03"/>
            <material name ="blue"/>
        </visual>

        <collision>
            <origin rpy = "0 0 0" xyz = "0 0 0.03"/>
            <geometry>
                <mesh filename = "package://learning_tf_urdf/meshes/Base.stl" scale = "0.001 0.001 0.001"/> 
            </geometry>              
        </collision>
    </link>

    <link name = "first_arm">
        <visual>
            <geometry>
                <mesh filename = "package://learning_tf_urdf/meshes/Shoulder.stl" scale = "0.001 0.001 0.001"/> 
            </geometry>
            <origin rpy = "0 0 0" xyz = "0 0 0.03"/>
            <material name ="blue"/>
        </visual>

        <collision>
            <origin rpy = "0 0 0" xyz = "0 0 0.03"/>
            <geometry>
                <mesh filename = "package://learning_tf_urdf/meshes/Shoulder.stl" scale = "0.001 0.001 0.001"/> 
            </geometry>              
        </collision>
    </link>
</robot>